

.App {
  width: 100vw;
  height: 100vh;
}

.header {
  padding: 0 20vw;
  margin: 5vw;
  
  h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Oxygen';
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.slide {
  display: flex;
  justify-content: center;
}

.image {
  width: 75%;
  border-radius: 1.25rem;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.5);
  -khtml-box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.left-arrow, .right-arrow {
  position: absolute;
  font-size: 2.5rem;
  top: 50%;
  color: rgb(117, 117, 117);
  cursor: pointer;
  z-index: 1;
}

.left-arrow {
  left: 1rem;
}

.right-arrow {
  right: 1rem;
}

.links {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1rem;
  cursor: pointer;
}

/* ******************** Media Queries **************** */

/* Laptops */
@media (min-width: 1024px) and (max-width: 1280px) {
  .header {
    margin: 2vw 0;
  }
}

/* Tablets & Ipads */
@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    margin: 5vw 0;
  }
}

/* Phone Landscape */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .header {
    padding: 0 14vw;
    margin: 2vw 0;
  }

  .left-arrow, .right-arrow {
    font-size: 2rem;
  }

  .links {
    font-size: 3rem;
  }
}

/* Smartphones */
@media (min-width: 320px) and (max-width: 480px) {
  .header {
    padding: 5vw;
    margin: 2vw 0;

    h2 {
      font-size: 1.5rem;
    }
    
    p {
      font-size: 1rem;
      padding: 1rem 1rem;
    }
  }

  .left-arrow, .right-arrow {
    font-size: 2rem;
  }

  .links {
    font-size: 3rem;
  }
}